@import "tailwindcss";

@theme inline {
  --color-accent: var(--color-violet-600);
  --color-accent-light: var(--color-violet-400);
  --animate-drop-out: drop-fade-out 0.2s ease-out;
  --animate-rise-in: rise-fade-in 0.2s ease-in;
}

@keyframes drop-fade-out {
  from {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(50px);
    display: hidden;
  }
}
@keyframes rise-fade-in {
  to {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  from {
    opacity: 0;
    transform: translateY(50px);
    display: hidden;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}
