@import "tailwindcss";

@font-face {
	font-family: "Poppins";
	src: url("./assets/fonts/poppins-regular-webfont.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Poppins-extrabold";
	src: url("./assets/fonts/poppins-extrabold-webfont.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Poppins-bold";
	src: url("./assets/fonts/poppins-bold-webfont.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Poppins-medium";
	src: url("./assets/fonts/poppins-medium-webfont.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Bangers";
	src: url("./assets/fonts/bangers-regular-webfont.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-poppins: "Poppins";
	--font-bangers: "Bangers";
	--font-poppins-extrabold: "Poppins-extrabold";
	--font-poppins-bold: "Poppins-bold";
	--font-poppins-medium: "Poppins-medium";
	--color-accent: var(--color-violet-600);
	--color-accent-light: var(--color-violet-400);
	--animate-drop-out: drop-fade-out 0.2s ease-out;
	--animate-rise-in: rise-fade-in 0.2s ease-in;
}

@keyframes drop-fade-out {
	from {
		display: block;
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(50px);
		display: hidden;
	}
}
@keyframes rise-fade-in {
	to {
		display: block;
		opacity: 1;
		transform: translateY(0);
	}

	from {
		opacity: 0;
		transform: translateY(50px);
		display: hidden;
	}
}

body {
	font-family: "Poppins";
	background-color: black;
	color: white;
}
